[submodule "power-link-parser"]
	path = power-link-parser
	url = git@github.com:dragonforce2010/roam-website-title-parser.git
[submodule "roam-power-css-pack"]
	path = roam-power-css-pack
	url = https://github.com/dragonforce2010/roam-power-css-pack.git
[submodule "roam-power-chatgpt"]
	path = roam-power-chatgpt
	url = https://github.com/dragonforce2010/roam-power-chatgpt.git
[submodule "roam-power-previewer"]
	path = roam-power-previewer
	url = https://github.com/dragonforce2010/roam-power-previewer.git
