.rm-block-children .roam-block span {
  color: #FF9800;
}

.rm-block-children .rm-block-children .roam-block span {
  color: #00BCD4;
}

.rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #00D4B4;
}

.rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #34A2EFCE;
}

.rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #FEC950;
}

.rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #AA58FB;
}

.rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #3BC1FF;
}

.rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #009688;
}

.rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children.rm-block-children .roam-block span {
  color: #FF5722;
}

.rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children.rm-block-children .roam-block span {
  color: #8BC34A;
}

.rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .rm-block-children .roam-block span {
  color: #00BCD4;
}


.rm-block__ref-count-footnote {
  color: #38D2EA;
}